* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #0b1618;
}

.activeLink {
  text-decoration: none;
  color: #bfcacc;
  transition: 0.5s;
}

.activeLink:hover {
  color: #fff;
  transition: 0.5s;
}

.active {
  color: #fff;
}

.githubLink {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin-top: 5px;
  transition: 0.5s;
}

.githubLink:hover {
  transition: 0.5s;
  color: #fdce72;
}
